@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: bold;
  src: url('woff/IRANYekanX-Bold.woff') format('woff'),
    url('woff2/IRANYekanX-Bold.woff2') format('woff2');
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: normal;
  src: url('woff/IRANYekanX-Regular.woff') format('woff'),
    url('woff2/IRANYekanX-Regular.woff2') format('woff2');
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
  overscroll-behavior: none;
}

.direction-rtl {
  direction: rtl;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: IRANYekanX;
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

.splide__slide {
  backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform;
}

@layer utilities {
  .bg-gradient-1 {
    @apply bg-linear-to-r to-indigo-500 from-blue-400;
  }
  .bg-gradient-2{
    @apply bg-linear-to-r from-rose-400 to-red-500;
  }
  .bg-gradient-3{
    @apply bg-linear-to-r from-emerald-500 to-emerald-900;
  }

  .badge-1{
    @apply bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-blue-400 border border-blue-400;
  }

  .badge-2{
    @apply bg-purple-100 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-purple-400 border border-purple-400
  }

  .badge-3{
    @apply bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-red-400 border border-red-400;
  }

  .badge-4{
    @apply bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-green-400 border border-green-400
  }

  .badge-5{
    @apply bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-red-400 border border-red-400;
  }

  

}