@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: bold;
  src: url('woff/IRANYekanX-Bold.woff') format('woff'),
    url('woff2/IRANYekanX-Bold.woff2') format('woff2');
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: normal;
  src: url('woff/IRANYekanX-Regular.woff') format('woff'),
    url('woff2/IRANYekanX-Regular.woff2') format('woff2');
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

*{
  overscroll-behavior: none;
}

.direction-rtl
{
  direction: rtl;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: IRANYekanX;
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

.splide__slide {
  backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform;
}